

<section class="Grid Grid--withGutter u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="Card Card--withBorder u-color-grey-30">
      <div class="Card-image">
        <img src="//placehold.it/400x220" class="u-sizeFull" alt="autem officiis rerum" />
      </div>
      <div class="Card-content u-padding-r-all">
        <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
        <h3 class="Card-title"><a class="Card-titleLink" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></h3>
        <p class="Card-text">Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.</p>
      </div>
    </div>
  </div>
</section>

