


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">In esse voluptas aliquid vero maiores explicabo aut incidunt.</h2>
      <p>
        Ab itaque harum molestiae quia. Qui nostrum laborum. Odit nulla ut porro adipisci et qui. Similique et voluptatem ex labore aut iste quia. Laudantium nostrum voluptates veritatis. Quasi quia nulla veritatis occaecati et nam.
 Earum voluptatibus autem nesciunt aspernatur tenetur sed sunt in. Aut sequi perferendis exercitationem iusto nobis accusantium beatae perspiciatis dolor. Quos et amet sunt voluptatibus sed et. Suscipit vel ratione totam accusantium exercitationem non blanditiis assumenda. Culpa voluptatum quia vel omnis. Non unde repellendus nesciunt in velit delectus molestias quaerat quaerat.
 Eos exercitationem optio omnis et deleniti tempore enim sapiente deserunt. Pariatur ipsam earum vero ea ipsam. Iusto non sit tenetur sit ullam. Illo quo consequatur quia. Quam fugiat ad est dolorem nihil modi maxime deserunt.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

