

<a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
<div id="options" data-menu class="Dropdown-menu u-borderShadow-m">
  <ul class="Linklist">
    <li><a href="#" class="u-color-50 u-padding-r-all">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></li>
    <li><a href="#" class="u-color-50 u-padding-r-all">Aut illo nemo quis.</a></li>
    <li><a href="#" class="u-color-50 u-padding-r-all">Aut voluptatem libero nobis.</a></li>
    <li><a href="#" class="u-color-50 u-padding-r-all">Atque aperiam sunt quo.</a></li>
    
  </ul>
</div>

