

<div class="u-layout-centerContent u-background-70 u-padding-r-all">
  <section class="u-layout-medium">
    <div class="Grid">
      <div class="Grid-cell u-layout-centerLeft">
        <h2 class="u-text-r-l"><a class="u-color-white" href="">Twitter @amministrazione</a></h2>
      </div>
    </div>
    <div class="u-text-r-xxl u-padding-r-top">
      <div class="Grid Grid--withGutter">
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et efalse
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernfalse
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
          <div class="Card Card--round u-color-grey-30 u-background-white">
  <section class="Card-content u-padding-r-all">
    <div class="Card-text">
      <p class="u-color-50 u-text-r-xxs">nome account</p>
      <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
    </div>
    <h3 class="Card-titleLink u-padding-r-bottom">
      Aut tempora sapiente sit sint ratione. Voluptatibus ea eligendi nesciunt corporis reiciendis. Reiciendis nulla quod sint quam reprehenderit unde. Consequuntur quia blanditiis praesentium reiciendis suscipit enim repudiandae. Et voluptatem consectetur quosfalse
    </h3>
    <p>
      <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
    </p>
  </section>
</div>

        </div>
        
      </div>
    </div>
  </section>
</div>

