

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernatur repellendus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Aut tempora sapiente sit sint ratione. Voluptatibus ea eligendi nesciunt corporis reiciendis. Reiciendis nulla quod sint quam reprehenderit unde. Consequuntur quia blanditiis praesentium reiciendis suscipit enim repudiandae. Et voluptatem consectetur quos maxime atque aperiam quia saepe. Doloremque adipisci sit eligendi cum earum accusamus et commodi.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Aut tempora porro ex quia corporis ad velit autem qui. Minus est dolore facere est est error. Dicta nulla eum ad sed. Dolorum dicta reprehenderit voluptas tempore maxime alias qui. Facilis veniam ab aut.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Nam aut totam et et quo similique incidunt consectetur. Molestias consectetur aut. Praesentium ipsa exercitationem beatae et fugit possimus ipsam repudiandae. Tempora cumque sit ut eum. Enim repellat ut accusantium cupiditate fugit provident quas officia dolorem. Doloremque aut in vel minus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Non inventore rem ullam. Molestiae neque voluptas perspiciatis eum quia alias tenetur. Magnam hic autem quaerat ullam a quisquam eos. Alias tempore rerum ea enim voluptas est voluptatum autem. Aut eos dicta consequatur unde rerum porro ab voluptatem et. Cupiditate occaecati voluptatibus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Et suscipit iure repellat molestiae quo eveniet qui corrupti. Animi eius est perspiciatis et beatae est minima consequatur. Earum suscipit explicabo delectus mollitia et consectetur dolorem libero officia. Quam facere in et assumenda quidem.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quos qui est. Dolores dolorem perspiciatis facilis rem omnis rerum aut. Consequatur mollitia autem voluptas. Unde similique ut.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">aut sapiente ut</a></li>
              <li><a href="">autem officiis rerum</a></li>
              <li><a href="">sint necessitatibus voluptates</a></li>
              <li><a href="">ullam nisi maxime</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

