


<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></h3>
          <p class="Card-text">
            Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut illo nemo quis.</a></h3>
          <p class="Card-text">
            Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernatur repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut voluptatem libero nobis.</a></h3>
          <p class="Card-text">Aut voluptatem libero nobis.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></h3>
          <p class="Card-text">
            Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut illo nemo quis.</a></h3>
          <p class="Card-text">
            Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernatur repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut voluptatem libero nobis.</a></h3>
          <p class="Card-text">Aut voluptatem libero nobis.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></h3>
          <p class="Card-text">
            Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut illo nemo quis.</a></h3>
          <p class="Card-text">
            Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernatur repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut voluptatem libero nobis.</a></h3>
          <p class="Card-text">Aut voluptatem libero nobis.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a></h3>
          <p class="Card-text">
            Voluptas sint consequatur reiciendis excepturi et doloribus quidem. Maxime consequatur sequi asperiores. Possimus consequatur id tempore ipsum quod. Blanditiis occaecati expedita voluptates exercitationem. Neque et et corrupti consequatur consequatur et et.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut illo nemo quis.</a></h3>
          <p class="Card-text">
            Quam pariatur et numquam voluptas ut voluptatem libero nam. Asperiores rem dolore accusamus non est impedit debitis at et. Ut excepturi repudiandae. Blanditiis veniam sit eos vero quaerat velit. Fugit excepturi animi voluptatem fugiat et ut impedit aspernatur repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="//placehold.it/400x220?text=placeholder" class="u-sizeFull" alt="" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">aut sapiente ut</a></p>
          <h3 class="Card-title"><a class="Card-titleLink" href="">Aut voluptatem libero nobis.</a></h3>
          <p class="Card-text">Aut voluptatem libero nobis.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>


