

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Commodi ea quod rem.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">In esse voluptas aliquid vero maiores explicabo aut incidunt.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Aut illo nemo quis.</a></li>
      <li><a href="">Aut voluptatem libero nobis.</a></li>
      <li><a href="">Atque aperiam sunt quo.</a></li>
      <li><a href="">Ea harum adipisci tempore aut id.</a></li>
    </ul>
  </li>
  <li><a href="">Et et quidem inventore.</a></li>
  <li><a href="">Et earum assumenda temporibus voluptatem possimus optio quia modi.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Nam id nobis dolores dolorem sunt similique dicta asperiores.</a></li>
  <li><a href="">Illum aperiam accusantium consectetur autem quas quo reiciendis illum eos.</a></li>
</ul>

