

<nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Accusantium voluptate in<br>Aut sapiente ut
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Aut sapiente ut</a>
            <ul>
              <li><a href="/1">Autem officiis rerum</a></li>
              <li><a href="/2">Sint necessitatibus voluptates</a></li>
              <li><a href="/3">Ullam nisi maxime</a></li>
              <li><a href="/4">Ut natus dicta</a></li>
            </ul>
          </li>
          <li><a href="">Voluptatem sed eum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Ea error et</a>
            <ul>
              <li><a href="/1">Occaecati qui explicabo</a></li>
              <li><a href="/2">Magni non est</a></li>
              <li><a href="/3">Accusantium voluptate in</a></li>
              <li><a href="/4">Aut sapiente ut</a></li>
            </ul>
          </li>
          <li><a href="">Autem officiis rerum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Sint necessitatibus voluptates</a>
            <ul>
              <li><a href="/1">Ullam nisi maxime</a></li>
              <li><a href="/2">Ut natus dicta</a></li>
              <li><a href="/3">Voluptatem sed eum</a></li>
              <li><a href="/4">Ea error et</a></li>
            </ul>
          </li>
          <li><a href="">Occaecati qui explicabo</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Magni non est</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Accusantium voluptate in</a></li>
          <li><a href="/2">Aut sapiente ut</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Autem officiis rerum</a></li>
          <li><a href="/2">Sint necessitatibus voluptates</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ullam nisi maxime</a></li>
          <li><a href="/2">Ut natus dicta</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Voluptatem sed eum</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ea error et</a></li>
          <li><a href="/2">Occaecati qui explicabo</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Magni non est</a></li>
          <li><a href="/2">Accusantium voluptate in</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Aut sapiente ut</a></li>
          <li><a href="/2">Autem officiis rerum</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-area">
      <a class="Button Button--default u-color-95" href="#">Accedi</a>
    </li>
  </ul>
</nav>

