

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Qui repudiandae qui perspiciatis dolores rerum in. Accusamus praesentium est ut. Aliquam atque voluptatem ipsa quos. Dolorum pariatur necessitatibus. A ipsam fugit rerum. Praesentium in unde dolorem culpa consequatur.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Qui repudiandae qui perspiciatis dolores rerum in. Accusamus praesentium est ut. Aliquam atque voluptatem ipsa quos. Dolorum pariatur necessitatibus. A ipsam fugit rerum. Praesentium in unde dolorem culpa consequatur.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Commodi ea quod rem.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Commodi ea quod rem.</li>
    
    <li>In esse voluptas aliquid vero maiores explicabo aut incidunt.</li>
    
    <li>Aut illo nemo quis.</li>
    
    <li>Aut voluptatem libero nobis.</li>
    
    <li>Atque aperiam sunt quo.</li>
    
    <li>Ea harum adipisci tempore aut id.</li>
    
    <li>Et et quidem inventore.</li>
    
    <li>Et earum assumenda temporibus voluptatem possimus optio quia modi.</li>
    
    <li>Nam id nobis dolores dolorem sunt similique dicta asperiores.</li>
    
  </ul>

  <ol>
    
    <li>Commodi ea quod rem.</li>
    
    <li>In esse voluptas aliquid vero maiores explicabo aut incidunt.</li>
    
    <li>Aut illo nemo quis.</li>
    
    <li>Aut voluptatem libero nobis.</li>
    
    <li>Atque aperiam sunt quo.</li>
    
    <li>Ea harum adipisci tempore aut id.</li>
    
    <li>Et et quidem inventore.</li>
    
    <li>Et earum assumenda temporibus voluptatem possimus optio quia modi.</li>
    
    <li>Nam id nobis dolores dolorem sunt similique dicta asperiores.</li>
    
  </ol>

</article>

