

<table class="Table Table--withBorder Table--responsive u-text-r-xs">
  <caption class="u-hiddenVisually">accusantium voluptate in</caption>
  <thead>
    <tr class="u-color-grey-90 u-background-grey-10">
      <th>aut sapiente ut</th>
      <th>autem officiis rerum</th>
      <th>sint necessitatibus voluptates.</th>
      <th>ullam nisi maxime</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>aut sapiente ut</td>
      <td>aut sapiente ut</td>
      <td>aut sapiente ut</td>
      <td>aut sapiente ut</td>
    </tr>
    
    <tr>
      <td>ullam nisi maxime</td>
      <td>ullam nisi maxime</td>
      <td>ullam nisi maxime</td>
      <td>ullam nisi maxime</td>
    </tr>
    
  </tbody>
</table>

