

<div class="u-color-grey-30 u-padding-r-all  u-borderRadius-s u-background-white">
  <div class="u-padding-r-all">
    <h3 class="u-padding-bottom-xs u-padding-top-l">
    <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
      Accusantium voluptate in
    </a>
  </h3>
    <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
    Commodi ea quod rem.
  </h4>
    <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Commodi ea quod rem.
    </a>
  </h3> -->
    <p class="u-lineHeight-l u-text-r-xxs u-color-grey-50 u-margin-r-bottom u-padding-r-bottom">
      Qui repudiandae qui perspiciatis dolores rerum in. Accusamus praesentium est ut. Aliquam atque voluptatem ipsa quos. Dolorum pariatur necessitatibus. A ipsam fugit rerum. Praesentium in unde dolorem culpa consequatur.
    </p>
    
  </div>
</div>

