

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Voluptatum ut non dicta necessitatibus quo porro ipsum animi aut. Sunt debitis et ut atque voluptas atque. Velit eos modi aut corporis quae. Rerum minima et delectus qui eos dolorum quas. Sit ut fugit.
 Illum ducimus quibusdam eligendi dolorem ea dolorem aut suscipit. Dolor aut quia aut sit et. Nostrum voluptates cum. Cumque error facere atque.
 Iusto cupiditate modi veniam. In facilis beatae quia nostrum. Sequi atque esse. Nulla voluptatem tempora enim voluptatum. Vitae eum est quae labore repellat aut tempora perspiciatis.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">blanditiis</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Ab itaque harum molestiae quia. Qui nostrum laborum. Odit nulla ut porro adipisci et qui. Similique et voluptatem ex labore aut iste quia. Laudantium nostrum voluptates veritatis. Quasi quia nulla veritatis occaecati et nam.
 Earum voluptatibus autem nesciunt aspernatur tenetur sed sunt in. Aut sequi perferendis exercitationem iusto nobis accusantium beatae perspiciatis dolor. Quos et amet sunt voluptatibus sed et. Suscipit vel ratione totam accusantium exercitationem non blanditiis assumenda. Culpa voluptatum quia vel omnis. Non unde repellendus nesciunt in velit delectus molestias quaerat quaerat.
 Eos exercitationem optio omnis et deleniti tempore enim sapiente deserunt. Pariatur ipsam earum vero ea ipsam. Iusto non sit tenetur sit ullam. Illo quo consequatur quia. Quam fugiat ad est dolorem nihil modi maxime deserunt.
      </span>
    </span>
    Qui repudiandae qui perspiciatis dolores rerum in. Accusamus praesentium est ut. Aliquam atque voluptatem ipsa quos. Dolorum pariatur necessitatibus. A ipsam fugit rerum. Praesentium in unde dolorem culpa consequatur.
  </p>
</div>

