

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Accusantium voluptate in</a>
    <ul>
      <li><a href="#">Aut sapiente ut</a></li>
      <li><a href="#">Autem officiis rerum</a></li>
      <li>
        <a href="#">Sint necessitatibus voluptates</a>
        <ul>
          <li><a href="#">Ullam nisi maxime</a></li>
          <li><a href="#">Ut natus dicta</a>
            <ul>
              <li><a href="#">Ut natus dicta</a></li>
              <li><a href="#">Voluptatem sed eum</a></li>
              <li><a href="#">Ea error et</a></li>
            </ul>
          </li>
          <li><a href="#">Occaecati qui explicabo</a></li>
        </ul>
      </li>
      <li><a href="#">Magni non est</a></li>
      <li><a href="#">Accusantium voluptate in</a></li>
    </ul>
  </li>
  <li><a href="#">Occaecati qui explicabo</a>
    <ul>
      <li><a href="#">Sint necessitatibus voluptates</a></li>
      <li><a href="#">Autem officiis rerum</a></li>
      <li><a href="#">Aut sapiente ut</a>
        <ul>
          <li><a href="#">Voluptatem sed eum</a></li>
          <li><a href="#">Ut natus dicta</a></li>
          <li><a href="#">Ullam nisi maxime</a></li>
        </ul>
      </li>
      <li><a href="#">Ea error et</a></li>
      <li><a href="#">Occaecati qui explicabo</a>
        <ul>
          <li><a href="#">Magni non est</a></li>
          <li><a href="#">Aut sapiente ut</a></li>
          <li><a href="#">Autem officiis rerum</a></li>
          <li><a href="#">Sint necessitatibus voluptates</a></li>
          <li><a href="#">Ullam nisi maxime</a></li>
          <li><a href="#">Ut natus dicta</a></li>
          <li><a href="#">Voluptatem sed eum</a></li>
          <li><a href="#">Ea error et</a></li>
          <li><a href="#">Occaecati qui explicabo</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

