

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Voluptatum ut non dicta necessitatibus quo porro ipsum animi aut. Sunt debitis et ut atque voluptas atque. Velit eos modi aut corporis quae. Rerum minima et delectus qui eos dolorum quas. Sit ut fugit.
 Illum ducimus quibusdam eligendi dolorem ea dolorem aut suscipit. Dolor aut quia aut sit et. Nostrum voluptates cum. Cumque error facere atque.
 Iusto cupiditate modi veniam. In facilis beatae quia nostrum. Sequi atque esse. Nulla voluptatem tempora enim voluptatum. Vitae eum est quae labore repellat aut tempora perspiciatis.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">blanditiis</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Ab itaque harum molestiae quia. Qui nostrum laborum. Odit nulla ut porro adipisci et qui. Similique et voluptatem ex labore aut iste quia. Laudantium nostrum voluptates veritatis. Quasi quia nulla veritatis occaecati et nam.
 Earum voluptatibus autem nesciunt aspernatur tenetur sed sunt in. Aut sequi perferendis exercitationem iusto nobis accusantium beatae perspiciatis dolor. Quos et amet sunt voluptatibus sed et. Suscipit vel ratione totam accusantium exercitationem non blanditiis assumenda. Culpa voluptatum quia vel omnis. Non unde repellendus nesciunt in velit delectus molestias quaerat quaerat.
 Eos exercitationem optio omnis et deleniti tempore enim sapiente deserunt. Pariatur ipsam earum vero ea ipsam. Iusto non sit tenetur sit ullam. Illo quo consequatur quia. Quam fugiat ad est dolorem nihil modi maxime deserunt.
      </span>
    </span>
    Qui repudiandae qui perspiciatis dolores rerum in. Accusamus praesentium est ut. Aliquam atque voluptatem ipsa quos. Dolorum pariatur necessitatibus. A ipsam fugit rerum. Praesentium in unde dolorem culpa consequatur.
  </p>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

